<ion-header>
  <ion-toolbar>
    <ion-title> Bienvenue chez SOFTER STYLE</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar clear></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-list>
      <ion-item button  *ngFor="let style of styles" (click)="goTo(style.id)">
        <ion-avatar slot="start">
          <ion-img [src]="style.lien"></ion-img>
        </ion-avatar>
        <ion-label>{{ style.nom}}</ion-label>
        <!-- <br>
          <button [routerLink]="['/',style.id] ">Supprimer</button>
          <br> -->
          <!-- [routerLink]="['/detail',style.id] " -->

      </ion-item>
    </ion-list>
  </ion-card>

  <ion-button (click)="goToAdd()" shape="round" fill="outline">Ajouter un article</ion-button>
  <!-- [routerLink]="['/add-style'] " -->

</ion-content>
